<div class="box">

  <div class="card">
    <div class="front" [ngClass]="{front__active: visibility}">

      <div class="card__top">
        <img class="card__chip" src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png">
        <img class="card__logo" src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png">
      </div>

      <div class="card__medium">
        <p class="card__number">{{myForm.value.userNumber}}</p>
      </div>

      <div class="card__bottom">
        <div>
          <span>Card Holder</span>
          <p class="card__name">{{myForm.value.userName}}</p>
        </div>

        <div>
          <span>Expires</span>
          <p class="card__month">{{month}}/</p>
          <p class="card__year">{{year.slice(2,4)}}</p>
        </div>
      </div>

    </div>

    <div class="back" [ngClass]="{back__active: visibility}">

      <div class="card__black_line"></div>
      <p class="card__cvv_title">CVV</p>
      <div class="card__cvv_box">
        <p>{{myForm.value.userCvv}}</p>
      </div>
      <img class="card__logo_back" src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/visa.png">
    
    </div>
  </div>


  <div class="form">

    <form [formGroup]="myForm">
      <p class="form__number_title">Number:</p>
      <input formControlName="userNumber">
      <span class="error" *ngIf="myForm.controls['userNumber'].invalid && myForm.controls['userNumber'].touched">Не указан номер</span>
      
      <p class="form__number_title">Name:</p>
      <input formControlName="userName">
      <span class="error" *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">Не указано имя</span>
    </form>

      <div class="flex">
        <div>
          <p class="form__number_title">Expiration Date:</p>

          <div class="flex">
            <select [(ngModel)]="month">
              <option value="" disabled selected>Month</option>
              <option *ngFor="let month of months" [value]="month">{{month}}</option>
            </select>
            
            <select [(ngModel)]="year">
              <option value="" disabled selected>Year</option>
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
          </div>
        </div>

        <form [formGroup]="myForm">
          <div>
            <p class="form__number_title">CVV:</p>
            <input formControlName="userCvv" (focus)="toggle()" (focusout)="toggle()">
            <span class="error" *ngIf="myForm.controls['userCvv'].invalid && myForm.controls['userCvv'].touched">Не указан год</span>   
          </div>
        </form>

      </div>

      <form [formGroup]="myForm">
        <button>Submit</button>
      </form>

  </div>
</div>